.stats-section{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:70px 8%;
    background:#ffffff;
}

.stat-box{
    background:#f8fbff;
    padding:35px;
    border-radius:16px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-box:hover{
    transform:translateY(-8px);
}

.stat-box h2{
    color:#2563eb;
    font-size:42px;
    margin-bottom:10px;
}

.stat-box p{
    color:#555;
    font-size:18px;
}

.about-project{
    padding:80px 8%;
    background:#f8fbff;
}

.section-heading{
    max-width:900px;
    margin:auto;
    text-align:center;
}

.section-heading h2{
    font-size:42px;
    color:#1e3a8a;
    margin-bottom:20px;
}

.section-heading p{
    color:#555;
    line-height:1.8;
    font-size:18px;
}

.features{
    padding:80px 8%;
    background:white;
}

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:50px;
}

.feature-card{
    background:#f8fbff;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-8px);
}

.feature-card h3{
    color:#2563eb;
    margin-bottom:15px;
}

.feature-card p{
    color:#555;
    line-height:1.7;
}

.cta{
    padding:90px 8%;
    text-align:center;
    background:#2563eb;
    color:white;
}

.cta h2{
    font-size:42px;
    margin-bottom:20px;
}

.cta p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}