.login-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#eef5ff;

padding:40px;

}

.login-container{

display:grid;

grid-template-columns:1fr 1fr;

width:950px;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.login-left{

background:#2563eb;

color:white;

padding:50px;

display:flex;

flex-direction:column;

justify-content:center;

}

.login-left h1{

font-size:42px;

margin-bottom:20px;

}

.login-left p{

line-height:1.8;

margin-bottom:30px;

}

.login-left ul{

list-style:none;

padding:0;

}

.login-left li{

margin-bottom:15px;

font-size:17px;

}

.login-right{

padding:50px;

}

.login-right h2{

text-align:center;

color:#1e3a8a;

margin-bottom:30px;

}

.login-right form{

display:flex;

flex-direction:column;

}

.login-right label{

margin-bottom:8px;

font-weight:600;

}

.login-right input{

padding:14px;

margin-bottom:20px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}

.login-right button{

padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

}

.login-right button:hover{

background:#1d4ed8;

}

.login-right p{

margin-top:20px;

text-align:center;

}

.login-right a{

color:#2563eb;

font-weight:bold;

text-decoration:none;

}