.navbar{

height:80px;

padding:0 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:white;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 2px 15px rgba(0,0,0,.08);

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo-circle{

width:50px;

height:50px;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-weight:bold;

font-size:20px;

}

.logo h2{

font-size:24px;

color:#1e3a8a;

}

.logo span{

font-size:13px;

color:#666;

}

nav{

display:flex;

gap:30px;

}

nav a{

color:#444;

text-decoration:none;

font-weight:500;

transition:.3s;

padding-bottom:5px;

}

nav a:hover{

color:#2563eb;

}

nav a.active{

color:#2563eb;

border-bottom:3px solid #2563eb;

}

.nav-buttons{

display:flex;

gap:15px;

}

.login-btn{

padding:10px 22px;

border:2px solid #2563eb;

border-radius:8px;

color:#2563eb;

text-decoration:none;

font-weight:600;

}

.login-btn:hover{

background:#2563eb;

color:white;

}

.register-btn{

padding:10px 22px;

background:#2563eb;

border-radius:8px;

color:white;

text-decoration:none;

font-weight:600;

}

.register-btn:hover{

background:#1d4ed8;

}

@media(max-width:900px){

nav{

display:none;

}

.logo h2{

font-size:20px;

}

}